/* Main container in all pages, has to be centred relative to the browser display, and have a solid border and shadow */
div.main {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px #ddd;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    overflow: hidden;
}

div.main.main--big {
    width: 80%;
    min-width: 800px;
}

/* Small container */
div.main.main--small {
    width: 25%;
    min-width: 400px;
}

/* Content container. This should take 80% of the width of the main container, and be floated to the right */
div.content {
    float: right;
    width: calc(80% - 40px);
    padding-left: 20px;
    padding-right: 20px;
}

/* Sidebar for the main container */
/* Sidebar container. This should take 19% of the width of the main container, and be floated to the left */
div.sidebar {
    float: left;
    width: 20%;
}

ul.sidebar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-right: 1px solid #ddd;;
}

ul.sidebar-list li.sidebar-list__item {
    margin: 0;
    padding: 0;
    border-top: 1px solid #ddd;
}

ul.sidebar-list li.sidebar-list__item:first-child {
    border-top: none;
}

ul.sidebar-list li.sidebar-list__item a.nav-item {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #000;
}

ul.sidebar-list li.sidebar-list__item a.nav-item:hover {
    background: rgb(241,241,241);
    background: linear-gradient(90deg, rgba(241,241,241,1) 10%, rgba(227,227,227,1) 55%, rgba(199,199,199,1) 100%);
}

ul.sidebar-list li.sidebar-list__item a.nav-item.active {
    background: rgb(241,241,241);
    background: linear-gradient(90deg, rgba(241,241,241,1) 10%, rgba(227,227,227,1) 15%, rgba(199,199,199,1) 30%);
    font-weight: bold;
}


ul.sidebar-list li.sidebar-list__item.sidebar-list__item--user p {
    padding: 4px 16px;
    text-decoration: none;
}

/* Content */
div.content div.content__main {
    width: 100%;
}

div.content div.content__main div.content__main__panel--left {
    width: 85%;
    display: table-cell;
}

div.content div.content__main div.content__main__panel--right {
    width: 15%;
    height: 100%;
    display: table-cell;
}

ul.big-blue-button-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.big-blue-button-list li {
    margin: 0;
    padding: 0;
}

a.big-blue-button {
    display: inline-block;
    margin: 4px 0;
    padding: 8px 16px;
    width: 100%;
    text-decoration: none;
    color: #fff;
    background-color: #4040d8;
    border-radius: 4px;
    border: 1px solid #4040a4;
}

/* Footer */
div.content div.content__footer {
    width: 100%;
}

/* Page number */
p.page-number, p.page-number a {
    text-align: center;
}

p.page-number a {
    text-decoration: none;
    color: #0000ff;
}

div.content__footer p {
    text-align: center;
    color: #404040ff;
}

div.content__footer p a {
    text-decoration: none;
    color: #4040a4;
}

div.content__footer p.disclaimer {
    font-style: italic;
}

/* Article stuff */
ul.article-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.article-list li.article-list__item {
    margin: 0;
    padding: 0;
}

.article h3.article__title {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0;
}

/* Admin stuff */


/* Actually category, small category, small article, small user title lol too late to change name */
li.article-list__item--small {
    margin-bottom: 20px;
}

h4.article__title, .article p.article__edit, .article rename-form {
    margin-bottom: 0;
    padding-bottom: 0;
    display:inline;
    vertical-align:middle;
}

.article p.article__edit {
    font-size: .83em;
    display: inline;
    vertical-align:middle;
}

.article p.article__edit a {
    font-size: .83em;
    display: inline;
    vertical-align:middle;
}

.rename-form {
    margin-bottom: 0;
    padding-bottom: 0;
    vertical-align:middle;
    font-size: 1em;
    display: inline-block;
}

.rename-form .rename-button {
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: .83em;
    display: inline;
    vertical-align:middle;
}

h4.article__title, h4.article__title a {
    text-decoration: none;
    color: #4040a4;
}

.article p.article__subtitle {
    text-decoration: none;
    font-style: italic;
    color: #404040ff;
    margin-top: 0;
    padding-top: 4px;
    margin-bottom: 0;
}

.article p.article__subtitle a {
    text-decoration: none;
    font-style: italic;
    color: #4040a4;
    margin-top: 0;
    margin-bottom: 0;
}


.article p.article__content {
    margin-top: 0;
    margin-bottom: 20px;
}

.article p.article__content a {
    text-decoration: none;
    color: #4040a4;
}

/* Login/register form */
form.login-register-form {
    text-align: center;

}

ul.login-register-form-list {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

ul.login-register-form-list li {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
}

ul.login-register-form-list li h2 {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

ul.login-register-form-list li p {
    margin: 0;
    padding: 0;
}

ul.login-register-form-list li.form-list-label {
    margin-top: 5px;
    margin-bottom: 0;
}

ul.login-register-form-list li.form-list-input {
    margin-top: 0;
    margin-bottom: 5px;
}

form.login-register-form input {
    margin: 5px;
    width: 90%;
}

button.login-register-form__button--big {
    margin: 5px;
    width: 90%;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Login/Register result box, thicc border */
div.result-box {
    border-width: 10px;
    border-style: solid;
    border-radius: 20px;
    margin: 0 auto;
    padding: 10px;
    width: 80%;
    text-align: center;
}

/* Result box text, just to keep it black */
div.result-box p {
    font-weight: bold;
    margin: 0;
    color: #000000;
}

/* Success (green) result box */
div.result-box.result-box--success {
    border-color: #008100;
    background-color: #00ff00;
}

div.result-box.result-box--failure {
    border-color: #810000;
    background-color: #ff0400;
}

div.result-box.result-box--warn {
    border-color: #404040;
    background-color: #808080;
}


/* Style for the title container in the main box. It needs a border at the bottom and a margin at the bottom to separate it from the content */
div.title {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

/*  Title text. Centre it, make it blue, and give it reflections below */
div.title h1 {
    color: #00f;
    font-size: 2em;
    text-align: center;
    text-shadow: 0 0 5px #ddd;
}
