<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <!-- Wiki name -->
    <display-name>Dynamic Bruh Wiki</display-name>
    <!--Global variables go brr-->
    <context-param>
        <param-name>db-url</param-name>
        <param-value>localhost:3306</param-value>
    </context-param>
    <context-param>
        <param-name>db-name</param-name>
        <param-value>bruh_wiki</param-value>
    </context-param>
    <context-param>
        <param-name>db-user</param-name>
        <param-value>bruh_wiki</param-value>
    </context-param>
    <context-param>
        <param-name>db-pass</param-name>
        <param-value>bruh_password</param-value>
    </context-param>
    <!-- 32 bytes of hash -->
    <context-param>
        <param-name>hashing-algorithm</param-name>
        <param-value>SHA-256</param-value>
    </context-param>
    <context-param>
        <param-name>salt-size</param-name>
        <param-value>16</param-value>
    </context-param>

</web-app>